care-australia-uat/force-app/main/default/flows/Change_Champion_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Champion_Welcome_Email</name>
        <label>Change Champion Welcome Email</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>npe03__Recurring_Donation__c.LWC_new_change_champion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_RG_Acknowledged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npe03__Recurring_Donation__c.LWC_new_change_champion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>Sending email when lender subscribe to an RG</description>
    <environments>Default</environments>
    <interviewLabel>Change Champion email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Champion email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_RG_Acknowledged</name>
        <label>Update RG Acknowledged</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>RG_Acknowledged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_Champion_Welcome_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MF23Champions</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RG_Acknowledged__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
