care-australia-uat/force-app/main/default/flows/External_User_Details_LWC_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Was an active user found for this Contact or Person Account record?</description>
        <name>External_User_Found</name>
        <label>External User Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_User_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUserFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFoundExternalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>External User Detail - LWC updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>External User Details - LWC updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>No user was found.</description>
        <name>No_User_Found</name>
        <label>No User Found</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtNoUserFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: sans-serif;&quot;&gt;No active user was found for this contact or person account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the details and status of an external user.</description>
        <name>User_Details</name>
        <label>User Details</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>User_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmpUserProfile</name>
                    <extensionName>extuserutils:flowProfileImage</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>vUser.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>vUser.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>photoURL</name>
                        <value>
                            <elementReference>vUser.MediumPhotoUrl</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>email</name>
                        <value>
                            <elementReference>vUser.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>txtFrozen</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;USER FROZEN&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;This user was frozen by an admin and cannot log in.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUserLogin.IsFrozen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txtPasswordLockout</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;PASSWORD LOCKED&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This user&apos;s password is locked because of too many failed login attempts.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUserLogin.IsPasswordLocked</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txtUserInactive</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;USER INACTIVE&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This user has been deactivated. You may reactivate this user to enable access to Experience Cloud sites.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUser.IsActive</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtUserDetails</name>
                    <fieldText>&lt;p&gt;{!ttUserDetails}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SSO_Info</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SSO provider: &lt;/strong&gt;{!vUserAccountSso.SsoProviderName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>txtMismatchedEmails</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;MISMATCHED EMAILS&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;This user&apos;s email address does not match the Contact record. Please keep this in mind when communicating and resetting passwords.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUser.extuserutils__UserContactEmailMatch__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>extuserutils__External_User_Details</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_User_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Use values from the parent flow to set the inputs for the &quot;Get External User - LWC updated&quot; flow. By default, the parent flow stores all outputs. You can either reference outputs via the API name of the Subflow element or manually assign variables in the parent flow to store individual outputs from the &quot;Get External User - LWC updated&quot; flow.</description>
        <name>Get_Contact_User_info</name>
        <label>Get Contact &amp; User info</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>External_User_Found</targetReference>
        </connector>
        <flowName>Get_External_User_LWC_updated</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUserAccountSso</assignToReference>
            <name>UserAccountSso</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vContact</assignToReference>
            <name>vContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFoundContact</assignToReference>
            <name>vFoundContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFoundExternalUser</assignToReference>
            <name>vFoundExternalUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastLoginDateTime</assignToReference>
            <name>vLastLoginDateTime</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastPasswordResetDateTime</assignToReference>
            <name>vLastPasswordResetDateTime</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vNumberFailedLogins</assignToReference>
            <name>vNumberFailedLogins</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUser</assignToReference>
            <name>vUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserLogin</assignToReference>
            <name>vUserLogin</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Displays user details such as Username, Email, last login, etc, on multiple screens.</description>
        <name>ttUserDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;USERNAME&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;: {!vUser.Username}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;EMAIL&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;: {!vUser.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;PROFILE&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;: {!vUser.Profile.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;LAST LOGIN&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;: {!vLastLoginDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;PASSWORD LAST RESET:&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; {!vLastPasswordResetDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;FAILED LOGIN ATTEMPTS:&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; {!vNumberFailedLogins}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Salesforce recordId of the Contact or Person Account record for the user details to display.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact record being viewed.</description>
        <name>vContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Indicates whether a Contact record was found.</description>
        <name>vFoundContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indicates whether an associated user was found.</description>
        <name>vFoundExternalUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds the date and time of the last login.</description>
        <name>vLastLoginDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the date &amp; time of the last password reset.</description>
        <name>vLastPasswordResetDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates whether the User record and Contact record representing this person have different email addresses.</description>
        <name>vMismatchedEmails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds the number of recent failed login attempts.</description>
        <name>vNumberFailedLogins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Represents the User record associated with the Contact being viewed.</description>
        <name>vUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vUserAccountSso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ThirdPartyAccountLink</objectType>
    </variables>
    <variables>
        <description>Indicates whether the user&apos;s email address matches the Contact record&apos;s email address.</description>
        <name>vUserEmailMatchesContactEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds login status data for this user.</description>
        <name>vUserLogin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserLogin</objectType>
    </variables>
</Flow>
