care-australia-uat/force-app/main/default/flows/FSP_Reporting_Flow_when_contact_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_borrowers_count</name>
        <label>Add borrowers count</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>totalBorrowerCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddBorrowersCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Gender</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Disabled</name>
        <label>Add Disabled</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>TotalDisabilityCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddDisabilityCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FSP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_female_count</name>
        <label>Add female count</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CountFemale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Addfemalecount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_disability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_male_count</name>
        <label>Add male count</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CountMale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Addmalecount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_disability</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_disability</name>
        <label>Check disability</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_FSP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Disabled</targetReference>
            </connector>
            <label>If disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Gender</name>
        <label>Check Gender</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_disability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_male</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Male</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_male_count</targetReference>
            </connector>
            <label>Is male</label>
        </rules>
        <rules>
            <name>Is_female</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Female</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_female_count</targetReference>
            </connector>
            <label>Is female</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_FSP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_record_type_is_borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Borrower_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_borrowers_count</targetReference>
            </connector>
            <label>If record type is borrower</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddBorrowersCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Borrower_Account__r.Borrowers__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AddDisabilityCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Borrower_Account__r.Borrowers_D__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Addfemalecount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Borrower_Account__r.Borrowers_F__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Addmalecount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Borrower_Account__r.Borrowers_M__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FSP Reporting Flow when contact is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSP Reporting Flow when contact is Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Borrower_Record_Type</name>
        <label>Get Borrower Record Type</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FSP</name>
        <label>Update FSP</label>
        <locationX>534</locationX>
        <locationY>1331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Borrower_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Borrowers_D__c</field>
            <value>
                <elementReference>TotalDisabilityCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrowers_F__c</field>
            <value>
                <elementReference>CountFemale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrowers_M__c</field>
            <value>
                <elementReference>CountMale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrowers__c</field>
            <value>
                <elementReference>totalBorrowerCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Borrower_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gender__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountFemale</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountMale</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalBorrowerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalDisabilityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
