care-australia-uat/force-app/main/default/flows/FSP_reporting_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Active</name>
        <label>Add Active</label>
        <locationX>704</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>CountActive</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_amount_funded</name>
        <label>Add amount funded</label>
        <locationX>1474</locationX>
        <locationY>5855</locationY>
        <assignmentItems>
            <assignToReference>AmountFundedAUD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Amount_Funded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Repaid_Amount_AUD_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Amount_Repaid</name>
        <label>Add Amount Repaid</label>
        <locationX>1474</locationX>
        <locationY>6155</locationY>
        <assignmentItems>
            <assignToReference>AmountRepaidAUD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Total_Repaid_Amount_AUD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Cancelled</name>
        <label>Add Cancelled</label>
        <locationX>2112</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>CountCancelled</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Expired</name>
        <label>Add Expired</label>
        <locationX>2508</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>CountExpired</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Expired_Amount_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Expired_loan_amount</name>
        <label>Add Expired loan amount</label>
        <locationX>2376</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>ExpiredAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Expired_loan_amount_this_month</name>
        <label>Add Expired loan amount this month</label>
        <locationX>1320</locationX>
        <locationY>4979</locationY>
        <assignmentItems>
            <assignToReference>ExpiredAmountThisMonth</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Funded_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_fully_Funded_Loan_Amount_this_month</name>
        <label>Add fully Funded Loan Amount this month</label>
        <locationX>1320</locationX>
        <locationY>5471</locationY>
        <assignmentItems>
            <assignToReference>FullyFundedAmountThisMonth</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Amount_Funded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Total_Funded_AUD_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Fundraising</name>
        <label>Add Fundraising</label>
        <locationX>1364</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>CountFundraising</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Fundraising_Amount_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Fundraising_loan_amount</name>
        <label>Add Fundraising loan amount</label>
        <locationX>1232</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>FundraisingAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Loan_amounts_USD</name>
        <label>Add Loan amounts USD</label>
        <locationX>1474</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>TotalLoanAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Fully_Funded_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Nonperforming_loan</name>
        <label>Add Nonperforming loan</label>
        <locationX>1452</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>countNonperforming</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NonPerforming_Amount_LC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Nonperforming_loan_LC</name>
        <label>Add Nonperforming loan LC</label>
        <locationX>1320</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>NonPerformingLoanAmountLC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_nonPerforming_amount_USD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Nonperforming_loan_USD</name>
        <label>Add Nonperforming loan USD</label>
        <locationX>1320</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>NonPerformingLoanAmountUSD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_count_based_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Rejected</name>
        <label>Add Rejected</label>
        <locationX>968</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>CountRejected</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Scheduled</name>
        <label>Add Scheduled</label>
        <locationX>396</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>CountScheduled</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Scheduled_Amount_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Scheduled_loan_amount</name>
        <label>Add Scheduled loan amount</label>
        <locationX>264</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>ScheduledAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Amount_FY</name>
        <label>Add Total Amount FY</label>
        <locationX>1320</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountFY</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_nonperforming</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Under_Review_loan_USD</name>
        <label>Add Under Review loan USD</label>
        <locationX>1320</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>UnderReviewAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_loan_Created_Date_FY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Wriiten_Off_loan_amount</name>
        <label>Add Wriiten Off loan amount</label>
        <locationX>1672</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>WrittenOffAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Written_Off</name>
        <label>Add Written Off</label>
        <locationX>1804</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>CountWrittenOff</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Written_Off_Amount_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Expired_Current_Month</name>
        <label>Count Expired Current Month</label>
        <locationX>1452</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>ExpiredThisMonth</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Amount_is_null_Expired_this_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Fully_Funded</name>
        <label>Count Fully Funded</label>
        <locationX>1474</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>countFullyFunded</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Under_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Non_performing</name>
        <label>Count Non performing</label>
        <locationX>1474</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>countNonperforming</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Principal_disbursed_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Under_Review_Loan</name>
        <label>Count Under Review Loan</label>
        <locationX>1452</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>totalUnderReview</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_under_review_amount_USD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Loans</name>
        <label>Total Loans</label>
        <locationX>1606</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>totalLoans</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_non_performing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Loans_FY</name>
        <label>Total Loans FY</label>
        <locationX>1452</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>LoansFY</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Amount_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Written_Off_Add</name>
        <label>Written Off Add</label>
        <locationX>1474</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>WrittenOff12Months</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Expired_date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amount_is_null_Expired_this_month</name>
        <label>Check Amount is null Expired this month</label>
        <locationX>1452</locationX>
        <locationY>4871</locationY>
        <defaultConnector>
            <targetReference>Check_Funded_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_amount_is_not_null_Expired_this_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Expired_loan_amount_this_month</targetReference>
            </connector>
            <label>If amount is not null Expired this month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Amount_is_null_funded_this_month</name>
        <label>Check Amount is null funded this month</label>
        <locationX>1452</locationX>
        <locationY>5363</locationY>
        <defaultConnector>
            <targetReference>Check_Total_Funded_AUD_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_amount_is_not_null_funded_this_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Amount_Funded__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_fully_Funded_Loan_Amount_this_month</targetReference>
            </connector>
            <label>If amount is not null funded this month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_count_based_on_status</name>
        <label>Check count based on status</label>
        <locationX>1606</locationX>
        <locationY>3755</locationY>
        <defaultConnector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Scheduled</targetReference>
            </connector>
            <label>Status scheduled</label>
        </rules>
        <rules>
            <name>Status_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Active</targetReference>
            </connector>
            <label>Status Active</label>
        </rules>
        <rules>
            <name>Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Rejected</targetReference>
            </connector>
            <label>Status Rejected</label>
        </rules>
        <rules>
            <name>Status_Fundraising</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundraising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Fundraising</targetReference>
            </connector>
            <label>Status Fundraising</label>
        </rules>
        <rules>
            <name>Status_Written_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Written_Off</targetReference>
            </connector>
            <label>Status Written Off</label>
        </rules>
        <rules>
            <name>Status_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Cancelled</targetReference>
            </connector>
            <label>Status Canceled</label>
        </rules>
        <rules>
            <name>Status_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Expired</targetReference>
            </connector>
            <label>Status Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expired_Amount_is_null</name>
        <label>Check Expired Amount is null</label>
        <locationX>2508</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired_amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Expired_loan_amount</targetReference>
            </connector>
            <label>Expired amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expired_date</name>
        <label>Check Expired date</label>
        <locationX>1606</locationX>
        <locationY>4655</locationY>
        <defaultConnector>
            <targetReference>Check_Funded_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_expired_this_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Expired_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FirstDayCurrentMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Expired_Current_Month</targetReference>
            </connector>
            <label>Check if expired this month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Funded_date</name>
        <label>Check Funded date</label>
        <locationX>1606</locationX>
        <locationY>5255</locationY>
        <defaultConnector>
            <targetReference>Check_Total_Funded_AUD_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_funded_this_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Funded_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FirstDayCurrentMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Amount_is_null_funded_this_month</targetReference>
            </connector>
            <label>Check if funded this month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fundraising_Amount_is_null</name>
        <label>Check Fundraising Amount is null</label>
        <locationX>1364</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fundraising_amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Fundraising_loan_amount</targetReference>
            </connector>
            <label>Fundraising amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Principal_disbursed_is_not_null</name>
        <label>Check if Principal disbursed is not null</label>
        <locationX>1606</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Count_Fully_Funded_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Loan_amounts_USD</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_loan_Created_Date_FY</name>
        <label>Check loan Created Date FY</label>
        <locationX>1606</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Check_nonperforming</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Total_Loans_FY</targetReference>
            </connector>
            <label>This year Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_non_performing</name>
        <label>Check non performing</label>
        <locationX>1606</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_if_Principal_disbursed_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Non_performing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Is_NonPerforming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Non_performing</targetReference>
            </connector>
            <label>is Non performing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_nonperforming</name>
        <label>Check nonperforming</label>
        <locationX>1606</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Check_count_based_on_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_loan_is_loanperforming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Is_NonPerforming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Nonperforming_loan</targetReference>
            </connector>
            <label>If loan is loanperforming</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NonPerforming_Amount_LC</name>
        <label>Check NonPerforming Amount LC</label>
        <locationX>1452</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>Check_nonPerforming_amount_USD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_performing_LC_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Nonperforming_loan_LC</targetReference>
            </connector>
            <label>Non performing LC is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_nonPerforming_amount_USD</name>
        <label>Check nonPerforming amount USD</label>
        <locationX>1452</locationX>
        <locationY>3371</locationY>
        <defaultConnector>
            <targetReference>Check_count_based_on_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NonPerforming_USD_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Nonperforming_loan_USD</targetReference>
            </connector>
            <label>NonPerforming USD not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Repaid_Amount_AUD_is_null</name>
        <label>Check Repaid Amount AUD is null</label>
        <locationX>1606</locationX>
        <locationY>6047</locationY>
        <defaultConnector>
            <targetReference>Loop_through_loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_repaid_amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Total_Repaid_Amount_AUD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Amount_Repaid</targetReference>
            </connector>
            <label>If repaid amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scheduled_Amount_is_null</name>
        <label>Check Scheduled Amount is null</label>
        <locationX>396</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Scheduled_loan_amount</targetReference>
            </connector>
            <label>Scheduled amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Total_Funded_AUD_Amount</name>
        <label>Check Total Funded AUD Amount</label>
        <locationX>1606</locationX>
        <locationY>5747</locationY>
        <defaultConnector>
            <targetReference>Check_Repaid_Amount_AUD_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_total_funded_amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Amount_Funded__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_amount_funded</targetReference>
            </connector>
            <label>If total funded amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Under_Review</name>
        <label>Check Under Review</label>
        <locationX>1606</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_loan_Created_Date_FY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Under_Review_Loan</targetReference>
            </connector>
            <label>Count Under Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_under_review_amount_USD</name>
        <label>Check Under Review amount USD</label>
        <locationX>1452</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Check_loan_Created_Date_FY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_NonPerforming_USD_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Under_Review_loan_USD</targetReference>
            </connector>
            <label>Copy 1 of NonPerforming USD not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Written_Off_Amount_is_null</name>
        <label>Check Written Off Amount is null</label>
        <locationX>1804</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Written_Off_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Written_Off_amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Wriiten_Off_loan_amount</targetReference>
            </connector>
            <label>Written Off amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Fully_Funded_Loans</name>
        <label>Count Fully Funded Loans</label>
        <locationX>1606</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Check_Under_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_Fully_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Amount_Left_Before_Fully_Funded__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>-0.05</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_loans.Amount_Left_Before_Fully_Funded__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.05</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Fully_Funded</targetReference>
            </connector>
            <label>Amount Fully Funded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Amount_is_not_null</name>
        <label>Total Amount is not null</label>
        <locationX>1452</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Check_nonperforming</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Total_Amount_FY</targetReference>
            </connector>
            <label>Check amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Written_Off_Date_Check</name>
        <label>Written Off Date Check</label>
        <locationX>1606</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>Check_Expired_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Written_off_Last_12_months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loans.Written_Off_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Last12MonthsDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Written_Off_Add</targetReference>
            </connector>
            <label>Written off Last 12 months</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AverageLoanAmount</name>
        <dataType>Currency</dataType>
        <expression>{!TotalLoanAmount}/{!totalLoans}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>FirstDayCurrentMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY()),01)</expression>
    </formulas>
    <formulas>
        <name>FirstDayFY</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <formulas>
        <name>Last12MonthsDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),-12)</expression>
    </formulas>
    <interviewLabel>FSP reporting Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSP reporting Flow</label>
    <loops>
        <name>Loop_through_loans</name>
        <label>Loop through loans</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_all_loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Loans</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_loans</name>
        <label>Get all loans</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FSP.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FSP</name>
        <label>Get FSP</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>6431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FSP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_loans__c</field>
            <value>
                <elementReference>CountActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_time_loans__c</field>
            <value>
                <elementReference>totalLoans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_loan_amount__c</field>
            <value>
                <elementReference>AverageLoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canceled_loans__c</field>
            <value>
                <elementReference>CountCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expired_loans_All_time__c</field>
            <value>
                <elementReference>CountExpired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expired_loans_this_month__c</field>
            <value>
                <elementReference>ExpiredThisMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraising_loans_Amount_USD__c</field>
            <value>
                <elementReference>FundraisingAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraising_loans__c</field>
            <value>
                <elementReference>CountFundraising</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Amount_FY__c</field>
            <value>
                <elementReference>TotalAmountFY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_count_FY__c</field>
            <value>
                <elementReference>LoansFY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loans_Amount_under_review_USD__c</field>
            <value>
                <elementReference>UnderReviewAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loans_under_review__c</field>
            <value>
                <elementReference>totalUnderReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nonperforming_Loan_Amount_LC__c</field>
            <value>
                <elementReference>NonPerformingLoanAmountLC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nonperforming_Loan_Amount_USD__c</field>
            <value>
                <elementReference>NonPerformingLoanAmountUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nonperforming_Loans__c</field>
            <value>
                <elementReference>countNonperforming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_loans__c</field>
            <value>
                <elementReference>CountRejected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_loans__c</field>
            <value>
                <elementReference>CountScheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_loans_amount_USD__c</field>
            <value>
                <elementReference>ScheduledAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_of_expired_loans_All_time__c</field>
            <value>
                <elementReference>ExpiredAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_of_expired_loans_this_month__c</field>
            <value>
                <elementReference>ExpiredAmountThisMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_of_fully_funded_loans_this_month__c</field>
            <value>
                <elementReference>FullyFundedAmountThisMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_funded_Loans__c</field>
            <value>
                <elementReference>countFullyFunded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_funded_loan_amount_USD__c</field>
            <value>
                <elementReference>AmountFundedAUD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_repaid_loan_amount_USD__c</field>
            <value>
                <elementReference>AmountRepaidAUD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Written_off_loan_amount_USD__c</field>
            <value>
                <elementReference>WrittenOffAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Written_off_loans__c</field>
            <value>
                <elementReference>CountWrittenOff</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Written_off_loans_last_12_months__c</field>
            <value>
                <elementReference>WrittenOff12Months</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FSP</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan_Proposal_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountFundedAUD</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AmountRepaidAUD</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountCancelled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountExpired</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countFullyFunded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountFundraising</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNonperforming</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountRejected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountScheduled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountWrittenOff</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpiredAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpiredAmountThisMonth</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpiredThisMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FullyFundedAmountThisMonth</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FundraisingAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoansFY</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NonperformingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NonPerformingLoanAmountLC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NonPerformingLoanAmountUSD</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ScheduledAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalAmountFY</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalLoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalLoans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalUnderReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnderReviewAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WrittenOff12Months</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WrittenOffAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
