care-australia-uat/force-app/main/default/flows/Get_External_User_LWC_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Retrieves sensitive login &amp; admin data that cannot normally be seen by users without Manage Users permission.</description>
        <name>Get_UserLogin_Data</name>
        <label>Get UserLogin Data</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>extuserutils__UtilsFetchUserLastLoginData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>vUser.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>extuserutils__UtilsFetchUserLastLoginData</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Sets the contact found flag and other flags to no.</description>
        <name>Assign_Contact_Found_Flag</name>
        <label>Assign Contact Found Flag</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vFoundContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns the Contact record to a variable.</description>
        <name>Assign_Contact_Variable</name>
        <label>Assign Contact Variable</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFoundContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Retrieves sensitive user usage values and assigns them to variables for output.</description>
        <name>Assign_User_Data_Variables</name>
        <label>Assign User Data Variables</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>vLastLoginDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UserLogin_Data.lastLoginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLastPasswordResetDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UserLogin_Data.lastPasswordResetDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNumberFailedLogins</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UserLogin_Data.numberFailedLogins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UserLogin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the user found variable to false.</description>
        <name>Assign_user_Found_Variable</name>
        <label>Assign user Found Variable</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vFoundExternalUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns the User record to a variable for return.</description>
        <name>Assign_User_Record</name>
        <label>Assign User Record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFoundExternalUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UserLogin_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the UserLogin data to a variable for output.</description>
        <name>Assign_UserLogin</name>
        <label>Assign UserLogin</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>vUserLogin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UserLogin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAccountSso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserSsoInfo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determines whether a Contact record was found.</description>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Found_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a contact ID was specified.</description>
        <name>Contact_Id_Specified</name>
        <label>Contact Id Specified</label>
        <locationX>1403</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>No_Contact_Specified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContactIdSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a related user record was found.</description>
        <name>User_Found</name>
        <label>User Found</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_user_Found_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUserFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>FLow updated to get SSO info</description>
    <environments>Default</environments>
    <interviewLabel>Get External User - LWC updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get External User - LWC updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get ThirdPartyAccountLink</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Data_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <object>ThirdPartyAccountLink</object>
        <outputReference>UserSsoInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SsoProviderId</queriedFields>
        <queriedFields>Provider</queriedFields>
        <queriedFields>SsoProviderName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Returns the contact record specified by the recordId variable.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the active User record associated with the specified Contact.</description>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the UserLogin record representing the current user.</description>
        <name>Get_UserLogin</name>
        <label>Get UserLogin</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_UserLogin</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUser.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLogin</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Displays error details.</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtErrorDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Sorry, but this utility has encountered an error. Your administrator has been notified.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;SPECIFIED CONTACT:&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; {!recordId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;ERROR:&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen shown when no contact ID was specified.</description>
        <name>No_Contact_Specified</name>
        <label>No Contact Specified</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textNoContactIdSpecified</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Sorry, but no contact ID was specified. Please contact your administrator to resolve this.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;No contact Id was specified. Please make sure this component is triggered from a contact page.&lt;/p&gt;</helpText>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>extuserutils__Get_External_User</sourceTemplate>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Id_Specified</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact record ID for the user we&apos;re trying to look up.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_SSO_registered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserAccountSso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ThirdPartyAccountLink</objectType>
    </variables>
    <variables>
        <name>UserSsoInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ThirdPartyAccountLink</objectType>
    </variables>
    <variables>
        <description>Contact specified by the recordId variable.</description>
        <name>vContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vFoundContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flag to indicate whether we found an external user.</description>
        <name>vFoundExternalUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Date and time of this user&apos;s last login.</description>
        <name>vLastLoginDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Date and time when the password was last reset for this user.</description>
        <name>vLastPasswordResetDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Number of recent failed logins for this user.</description>
        <name>vNumberFailedLogins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Represents the User found for this contact.</description>
        <name>vUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>lists users authenticated using an authentication provider</description>
        <name>vUser_SSO_Registered</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds status data about the user such as frozen status.</description>
        <name>vUserLogin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserLogin</objectType>
    </variables>
</Flow>
