care-australia-uat/force-app/main/default/flows/JBSystemFlow_CampaignMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_FireJBTrigger</name>
        <label>SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Common&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>526003668</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contacts and Leads&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Common:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd7b8c3750524d2244605988eaae89461_FireJBTrigger</name>
        <label>SalesforceObjd7b8c3750524d2244605988eaae89461_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Common&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd7b8c3750524d2244605988eaae89461</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>526003668</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contacts and Leads&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Common:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;LeadOrContactOwner&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:LeadOrContactOwner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</name>
        <label>JB_Decision_Null_Check_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd7b8c3750524d2244605988eaae89461</name>
        <label>JB_Decision_Null_Check_SalesforceObjd7b8c3750524d2244605988eaae89461</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd7b8c3750524d2244605988eaae89461_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</targetReference>
            </connector>
            <label>JB_SalesforceObjd7b8c3750524d2244605988eaae89461_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd7b8c3750524d2244605988eaae89461_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd7b8c3750524d2244605988eaae89461_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd7b8c3750524d2244605988eaae89461_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_Decision</name>
        <label>JB_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701980000009uwMAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd7b8c3750524d2244605988eaae89461_Decision</name>
        <label>JB_SalesforceObjd7b8c3750524d2244605988eaae89461_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2cd56544d2c276fdd1d48e8b7c44e619</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd7b8c3750524d2244605988eaae89461</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7019800000090J1AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd7b8c3750524d2244605988eaae89461_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd7b8c3750524d2244605988eaae89461</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_CampaignMember</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjd7b8c3750524d2244605988eaae89461</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
