care-australia-uat/force-app/main/default/flows/JBSystemFlow_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_FireJBTrigger</name>
        <label>SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npsp__Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>526003668</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:npsp__Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;IsEmailBounced&quot;,&quot;Do_Not_Email__c&quot;,&quot;Invalid_Email__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;SF_Constituent_Id__c&quot;,&quot;npsp__Do_Not_Contact__c&quot;,&quot;Invalid_Preferred_Phone__c&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_FireJBTrigger</name>
        <label>SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npsp__Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>526003668</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:npsp__Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;CreatedDate&quot;,&quot;MobilePhone&quot;,&quot;Do_Not_Email__c&quot;,&quot;FY_Donor_Level__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;SF_Constituent_Id__c&quot;,&quot;npo02__LargestAmount__c&quot;,&quot;npo02__LastCloseDate__c&quot;,&quot;npo02__TotalOppAmount__c&quot;,&quot;npo02__NumberOfClosedOpps__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type&quot;,&quot;CloseDate&quot;,&quot;ContactId&quot;,&quot;CreatedDate&quot;,&quot;RecordTypeId&quot;,&quot;Total_Amount__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Do_Not_Email__c&quot;,&quot;SF_Constituent_Id__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Opportunity:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;LastModifiedBy&quot;,&quot;dePrefix&quot;:&quot;Opportunity:LastModifiedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</name>
        <label>JB_Decision_Null_Check_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</targetReference>
            </connector>
            <label>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</name>
        <label>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Decision</name>
        <label>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</name>
            <conditionLogic>( ( (1 AND 2)  AND  ( (3 OR 4)  OR 5) )  And  ( (6 AND 7)  OR  (8 AND 9) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Giving</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pledged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__r.npo02__NumberOfClosedOpps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__r.npo02__NumberOfClosedOpps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_State_change_Decision</name>
        <label>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND  ( (3 OR 4)  OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Giving</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pledged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Decision</name>
        <label>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</name>
            <conditionLogic>( (1 AND  ( ( (2 OR 3)  OR 4)  OR 5) )  And  ( ( (6 AND 7)  OR  (8 AND 9) )  OR  (10 AND 11) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012980000004LM4AAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000001YUq6AAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012980000004LM2AAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000000EwEDAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.npo02__NumberOfClosedOpps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__r.npo02__TotalOppAmount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__r.npo02__NumberOfClosedOpps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_State_change_Decision</name>
        <label>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 OR 3)  OR 4)  OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012980000004LM4AAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000001YUq6AAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012980000004LM2AAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000000EwEDAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjdbd0b2764d7076dcb7a182a2b6b821a3</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjaa6b015b33a367c4295f4f731bcc2a88</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
