care-australia-uat/force-app/main/default/flows/Login_OTP_Based_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>611</locationX>
        <locationY>1106</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>OTP_Verification_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@care.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Verification Code</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_LoginAttempt</name>
        <label>Add to LoginAttempt</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>loginAttemps</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTPErrorMsg</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_OTP_entered_is_correct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Error_Msg</name>
        <label>Assign the Error Msg</label>
        <locationX>578</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>OTPErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You have entered the wrong OTP. Please add the OTP provided in the email send to you.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_the_OTP_generation_Attempt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_OTP_generation_Attempt</name>
        <label>Assign the OTP generation Attempt</label>
        <locationX>611</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>otpGenerationAttempts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OTP_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_value_to_the_OTP_VAR1</name>
        <label>Assign the value to the OTP_VAR1</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>correctOTP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OTP_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_value_to_the_OTPVAR2</name>
        <label>Assign the value to the OTPVAR2</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>correctOTP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Atttemps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_the_Error_Msg</name>
        <label>Copy 1 of Assign the Error Msg</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>OTPErrorMsg</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>OTP_Expired_Scrreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_forced_Logout</name>
        <label>Copy 1 of forced Logout</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTP_Generation_Attempt_Error_Wrong_OTP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>forced_Logout</name>
        <label>forced Logout</label>
        <locationX>842</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTP_Generation_Attempt_Error</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EmailSelected</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EmailTrue</name>
        <choiceText>Email</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>SMSselected</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>SMStrue</name>
        <choiceText>SMS</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Atttemps</name>
        <label>Check Atttemps</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Assign_the_Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than or equal 3</defaultConnectorLabel>
        <rules>
            <name>Greater_than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loginAttemps</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OTP_record_forced_lockout</targetReference>
            </connector>
            <label>Greater than 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_user</name>
        <label>Check for user</label>
        <locationX>784</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Authenticationn_Type</targetReference>
            </connector>
            <label>user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OTP_entered_is_correct</name>
        <label>Check if OTP entered is correct</label>
        <locationX>248</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Assign_the_value_to_the_OTPVAR2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTP_is_correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OTP_record.OTP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Verification_Code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_value_to_the_OTP_VAR1</targetReference>
            </connector>
            <label>OTP is correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OTP_expiration</name>
        <label>Check OTP expiration</label>
        <locationX>611</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_the_Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid OTP/ OTP Expired</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckExpiration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_LoginAttempt</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OTP_Generation_Attempt</name>
        <label>Check OTP Generation Attempt</label>
        <locationX>974</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_the_OTP_generation_Attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than or equal to 3</defaultConnectorLabel>
        <rules>
            <name>Greater_than_3_OTP_Gen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otpGenerationAttempts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OTP_record_Max_OTP_gen_Attempt</targetReference>
            </connector>
            <label>Greater than 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Social_Sign_In</name>
        <label>Is Social Sign In</label>
        <locationX>198</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signed_In_Using_Social_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Authenticationn_Type.LoginType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatter Communities External User Third Party SSO</stringValue>
                </rightValue>
            </conditions>
            <label>Signed In Using Social Media</label>
        </rules>
    </decisions>
    <description>Additional OTP feature for users to login via Email only</description>
    <dynamicChoiceSets>
        <name>PreferredPhoneChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe01__PreferredPhone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckExpiration</name>
        <dataType>Boolean</dataType>
        <expression>NOW() &gt; {!Get_OTP_record.Expired_Date_Time__c}</expression>
    </formulas>
    <formulas>
        <name>checkOTP</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Verification_Code} =={!Get_OTP_record.OTP__c}, true, false)</expression>
    </formulas>
    <formulas>
        <name>OTPToBeSend</name>
        <dataType>String</dataType>
        <expression>{!Get_OTP_record.OTP__c}</expression>
    </formulas>
    <formulas>
        <name>phoneNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_User_Record.MobilePhone}) , &apos;&apos; , {!Get_User_Record.MobilePhone})</expression>
    </formulas>
    <interviewLabel>Login: OTP Based Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Login: OTP Based Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Generate_OTP</name>
        <label>Generate OTP</label>
        <locationX>611</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_the_OTP_generation_Attempt</targetReference>
        </connector>
        <inputAssignments>
            <field>Generated_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operating_System__c</field>
            <value>
                <elementReference>LoginFlow_Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OTP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Authenticationn_Type</name>
        <label>Get Authenticationn Type</label>
        <locationX>198</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Social_Sign_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UsersId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OTP_record</name>
        <label>Get OTP record</label>
        <locationX>611</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OTP_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Generate_OTP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OTP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OTP_Template</name>
        <label>Get OTP Template</label>
        <locationX>611</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTP Verification Code SMS Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tdc_tsw__Message_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact_Record</name>
        <label>Get Related Contact Record</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_OTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>784</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OTP_record</name>
        <label>Update OTP record</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OTP_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Login_Result__c</field>
            <value>
                <elementReference>loginSuccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <object>OTP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OTP_record_forced_lockout</name>
        <label>Update OTP record forced lockout</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Copy_1_of_forced_Logout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OTP_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Login_Result__c</field>
            <value>
                <stringValue>User logged out due to too many login attempts.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Forced Locked Out</stringValue>
            </value>
        </inputAssignments>
        <object>OTP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OTP_record_Max_OTP_gen_Attempt</name>
        <label>Update OTP record Max OTP gen Attempt</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>forced_Logout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OTP_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Login_Result__c</field>
            <value>
                <stringValue>User generated OTP too many times</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>OTP Generation Limit Maxed Out</stringValue>
            </value>
        </inputAssignments>
        <object>OTP__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>OTP_Expired_Scrreen</name>
        <label>OTP Expired Scrreen</label>
        <locationX>974</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_OTP_Generation_Attempt</targetReference>
        </connector>
        <fields>
            <name>OTP_Expired_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The OTP code you have entered has expired.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please generate a new code.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Generate new OTP</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_Generation_Attempt_Error</name>
        <label>OTP Generation Attempt Error</label>
        <locationX>842</locationX>
        <locationY>1970</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OTP_Generation_Error_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 10, 10);&quot;&gt;You have exceeded the maximum number of login attempts. Please try again later.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 10, 10);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 10, 10);&quot;&gt;If you are still experiencing issues login in, please &lt;/span&gt;&lt;a href=&quot;https://careaustralia--centqa.sandbox.my.site.com/LendwithCare/secur/logout.jsp?retUrl=https%3A%2F%2Fcareaustralia--centqa.sandbox.my.site.com/LendwithCare%2Fs%2Fcarecontactus&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(71, 33, 117);&quot;&gt;&lt;u&gt;contact us&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 10, 10);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_Generation_Attempt_Error_Wrong_OTP</name>
        <label>OTP Generation Attempt Error Wrong OTP</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_OTP_Generation_Error_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;You have exceeded the maximum number of login attempts. Please try again later.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;If you are still experiencing issues login in, please &lt;/span&gt;&lt;a href=&quot;https://careaustralia--centqa.sandbox.my.site.com/LendwithCare/secur/logout.jsp?retUrl=https%3A%2F%2Fcareaustralia--centqa.sandbox.my.site.com/LendwithCare%2Fs%2Fcarecontactus&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(71, 33, 117); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;contact us&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(244, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_Verification_Screen</name>
        <label>OTP Verification Screen</label>
        <locationX>611</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_OTP_expiration</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You are trying to login to Lendwithcare. To ensure your account is safe, please enter the code you received in your email inbox.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!OTPErrorMsg}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verification_Code</name>
            <fieldText>Verification Code</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Verify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test</name>
        <label>Unable to find the user</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Testng</name>
            <fieldText>&lt;p&gt;This user does not exist. Please register&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>658</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hi {!Get_User_Record.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are trying to login to &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Organization.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To ensure your account&apos;s security, we need to verify your identity. Enter the following code to login.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Verification Code : &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_OTP_record.OTP__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The verification code is valid for only 10 mins.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thanks.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>loginSuccess</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>User logged successfully in {!loginAttemps} attempts.</text>
    </textTemplates>
    <variables>
        <description>Checks if the OTP entered is correct</description>
        <name>correctOTP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isSMS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loginAttemps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://test.lwc.org.au/caredashboard</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>platForm for the login</description>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LoginId for the User</description>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTPErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otpGenerationAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Checks The validation for mobile / phone number</description>
        <name>phoneMobileValidationError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ScheduledSMSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
