care-australia-uat/force-app/main/default/flows/LWC_LoanProcessForApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SubmitForApproval</name>
        <label>SubmitForApproval</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Approval_Process_error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Loan_Records_Values.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Your Request for loan has been approved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SubmitLoanForApprovalCareReviewer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Amount_Diff_Into_Variable</name>
        <label>Assign Amount Diff Into Variable</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Store_AmountDifference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Diff_bw_LoanDisbursement_TotalRepaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conditions_Check_For_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conditions_Check_For_Approval</name>
        <label>Conditions Check For Approval</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Record_For_System_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Conditions_Are_Met</name>
            <conditionLogic>(1 AND 2 AND 6 AND 7 AND (5 OR 8 ) )OR (3 AND 4 AND 6 AND 7 AND (5 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Borrower__r.Borrower_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lwc_Config_Setting_Records.Individual_Borrower_Limit_AUD__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Borrower__r.Borrower_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Loan_Principal_Disbursed_USD__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lwc_Config_Setting_Records.Group_Borrower_Limit_AUD__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Loan_Principal_Disbursed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Loan_Records_Values.Total_Repayment_Scheduled_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Number_of_Repayments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Loan_Records_Values.Loan_Term_Months__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_date_comparison</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lwc_Config_Setting_Records.Loan_Acceptance_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Range</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>When Conditions Are Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Proposal_Status_Check</name>
        <label>Loan Proposal Status Check</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Status is Not Uploading</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Uploading_Or_System_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Loan_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Loan_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Records_Values.Loan_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lwc_Config_Setting_Records</targetReference>
            </connector>
            <label>If Status is Uploading Or System Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Check_Diff_bw_LoanDisbursement_TotalRepaymentAmount</name>
        <dataType>Number</dataType>
        <expression>{!Get_Loan_Records_Values.Loan_Principal_Disbursed__c} - {!Get_Loan_Records_Values.Total_Repayment_Scheduled_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Check_Range</name>
        <dataType>Boolean</dataType>
        <expression>OR( ({!Store_AmountDifference} &lt;= 0.05), ( {!Store_AmountDifference} &gt;= -0.05 )  )</expression>
    </formulas>
    <formulas>
        <description>To Compare Project Created Date - Loan Disbursement Date &lt; = 30 Days</description>
        <name>var_date_comparison</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE( {!Get_Loan_Records_Values.CreatedDate})-{!Get_Loan_Records_Values.Loan_Disbursement_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LWC_LoanProcessForApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>LWC_LoanProcessForApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Loan_Records_Values</name>
        <label>Get Loan Records Values</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Proposal_Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To Get Custom Meta Data Values</description>
        <name>Get_Lwc_Config_Setting_Records</name>
        <label>Get_Lwc_Config_Setting_Records</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Amount_Diff_Into_Variable</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LWC_Config_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>To Update Loan Proposal Status to System Rejected</description>
        <name>Update_Record_For_System_Rejected</name>
        <label>Update Record For System Rejected</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Proposal_Status__c</field>
            <value>
                <stringValue>System Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Process_error</name>
        <label>Approval Process error</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(228, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error_Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Submission failed.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There is an error on the loan record. Please refer to the Loan proposal Rejection reason on the Approval Information section of the loan record.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;No applicable approval process was found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SubmitForApproval</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your loan has been submitted.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Lendwithcare team will review your submission as soon as possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Records_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Store_AmountDifference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
