care-australia-uat/force-app/main/default/flows/LWC_FSP_CreateLoanProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Borrower_Details</name>
        <label>Assign Borrower Details</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Var_storeFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_storeLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_storeBorrowerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Borrower_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Lookup_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_Borrower_Id</name>
        <label>Assign Created Borrower Id</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>Store_CreatedBorrowerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CreatedBorrowerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_Borrower_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Borrower_Id</name>
        <label>Assign Existing Borrower Id</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Store_CreatedBorrowerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Show_Found_Borrower_List.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_Borrower_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_loan_into_varriable</name>
        <label>Assign loan into varriable</label>
        <locationX>710</locationX>
        <locationY>3458</locationY>
        <assignmentItems>
            <assignToReference>countloanterms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan_Record.Loan_Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLoanName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanPricipalDisbursed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan_Record.Loan_Principal_Disbursed_FSP_Txt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanDisbursementDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan_Record.Loan_Disbursement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan_Record.Loan_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Repayment_Schedule_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LoanTerms_into_Varr_before_Updating</name>
        <label>Assign LoanTerms into Varr before Updating</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Priorcountloanterms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Loan_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Publish_Name_into_Varriable</name>
        <label>Assign Publish Name into Varriable</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_storePublishName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formulla_forPublishName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSP_Client_ID_into_Varriable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_record_id_into_varriable</name>
        <label>assign record id into varriable</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordID_loan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Record_According_to_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Loan_Data_into_Varriable</name>
        <label>Assign Updated Loan Data into Varriable</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>countloanterms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Updated_Loan_Record.Loan_Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLoanName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Updated_Loan_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanPricipalDisbursed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Updated_Loan_Record.Loan_Principal_Disbursed_FSP_Txt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanDisbursementDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Updated_Loan_Record.Loan_Disbursement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Updated_Loan_Record.Loan_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Repayment_Schedule_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Boolean_Var_Assignment_for_Duplicate_FSP_Client_ID</name>
        <label>Boolean Var Assignment for Duplicate FSP Client ID</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>BooleanVar_DuplicateFSPClientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Borrower_Additional_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Boolean_Var_Assignment_for_Duplicate_FSP_Loan_ID</name>
        <label>Boolean Var Assignment for Duplicate FSP Loan ID</label>
        <locationX>446</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>BooleanVar_DuplicateFSPLoanID</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Capture_Loan_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FSP_Client_ID_into_Varriable</name>
        <label>FSP Client ID into  Varriable</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Store_FSPClientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSP_Client_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrower_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FSP_Loan_ID_into_Varriable</name>
        <label>FSP Loan ID into  Varriable</label>
        <locationX>578</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>Store_FSPLoanID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanAllFields.FSP_Loan_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_FSP_Loan_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Contact_ID_into_Varriable</name>
        <label>User Contact ID into Varriable</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentUser_ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_current_user_record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentUser_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_current_user_record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentUser_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_current_user_record.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_is_in_FSPStaff</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateNew</name>
        <choiceText>Create New Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateNewBorrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>createnewborrowerchoice</name>
        <choiceText>Create New Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createnewborrowerchoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing</name>
        <choiceText>Lookup An Existing Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>loanApproval_No</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>loanApproval_Yes</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <choices>
        <name>lookupanexistingborrower</name>
        <choiceText>Lookup An Existing Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>lookupanexistingborrower</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_FSP_Client_Id_Exist_or_Not</name>
        <label>Check FSP Client Id Exist or Not</label>
        <locationX>446</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>CreateBorrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FSP Client ID Not Exist</defaultConnectorLabel>
        <rules>
            <name>FSP_Client_ID_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FSP_Client_IDs.FSP_Client_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Store_FSPClientID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boolean_Var_Assignment_for_Duplicate_FSP_Client_ID</targetReference>
            </connector>
            <label>FSP Client ID Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FSP_Loan_Id_Exist_or_Not</name>
        <label>Check FSP Loan Id Exist or Not</label>
        <locationX>578</locationX>
        <locationY>3026</locationY>
        <defaultConnector>
            <targetReference>Create_Loan_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FSP Loan ID Not Exist</defaultConnectorLabel>
        <rules>
            <name>FSP_Loan_ID_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FSP_Loan_IDs.FSP_Loan_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Store_FSPLoanID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boolean_Var_Assignment_for_Duplicate_FSP_Loan_ID</targetReference>
            </connector>
            <label>FSP Loan ID Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loan_Proposal_Status</name>
        <label>Check Loan Proposal Status</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>DIsplay_Loan_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>In_Draft_Rejected_or_System_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Record_According_to_Record_ID.Loan_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Record_According_to_Record_ID.Loan_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Record_According_to_Record_ID.Loan_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LoanTerms_into_Varr_before_Updating</targetReference>
            </connector>
            <label>In Draft, Rejected or System Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_ID_is_Borrower_ID_or_Not</name>
        <label>Check Record ID is Borrower ID or Not</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_ID_is_Borrower_ID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_IDPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Care_Borrower_ID_or_FSP_Client_ID</targetReference>
            </connector>
            <label>Record ID is Borrower ID</label>
        </rules>
        <rules>
            <name>Record_ID_is_Loan_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_IDPrefix</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_record_id_into_varriable</targetReference>
            </connector>
            <label>Record ID is Loan ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_is_in_FSPStaff</name>
        <label>Check User is in FSPStaff</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is not FSP</defaultConnectorLabel>
        <rules>
            <name>User_is_FSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentUser_ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_ID_is_Borrower_ID_or_Not</targetReference>
            </connector>
            <label>User is FSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Lookup_Borrower</name>
        <label>Create or Lookup Borrower</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lookup_Borrower</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Borrower_Creation_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>lookupanexistingborrower</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Borrower_Creation_Choice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_Up_Existing_Borrower</targetReference>
            </connector>
            <label>Lookup Borrower</label>
        </rules>
        <rules>
            <name>Create_New_Borrower</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Borrower_Creation_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>createnewborrowerchoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Borrower_Creation_Choice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrower_Additional_Information</targetReference>
            </connector>
            <label>Create New Borrower</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BorrowerType_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Borrower_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Themes_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Themes__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DIsability_PicklistValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Disability__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LoanSchedulePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loan_Schedule__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LoanTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loan_Type__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationOfBusinessPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_of_Business__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_CAThemes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Themes__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_LoanSchedule</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loan_Schedule__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_LoanType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loan_Type__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_LocationOfBusiness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_of_Business__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Check_BorrowerAge</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY()) - YEAR({!Birthdate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Check_IDPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT( {!recordId}, 3)</expression>
    </formulas>
    <formulas>
        <name>Formulla_EditLoanPrincipal_ISNumber</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!Loan_Principal_Disbursed1}) &amp;&amp; NOT(CONTAINS( {!Loan_Principal_Disbursed1} , &apos;.&apos;))</expression>
    </formulas>
    <formulas>
        <name>Formulla_forPublishName</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!Published_Name})==true, {!Var_storeFirstName}, {!Published_Name})</expression>
    </formulas>
    <formulas>
        <name>Formulla_LoanPrincipal_ISNumber</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!Loan_Principal_Disbursed}) &amp;&amp; NOT(CONTAINS( {!Loan_Principal_Disbursed} , &apos;.&apos;))</expression>
    </formulas>
    <formulas>
        <name>var_CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>LWC_FSP_CreateLoanProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>LWC_FSP_CreateLoanProcess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Record</name>
        <label>Create Loan Record</label>
        <locationX>710</locationX>
        <locationY>3134</locationY>
        <assignRecordIdToReference>Store_CreatedLoanID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Borrower__c</field>
            <value>
                <elementReference>Get_Created_Borrower_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collateral_Detail__c</field>
            <value>
                <elementReference>LoanAllFields.Collateral_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collateral__c</field>
            <value>
                <elementReference>Collateral1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>Consent_Provided_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSP_Loan_ID__c</field>
            <value>
                <elementReference>Store_FSPLoanID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSP_Name__c</field>
            <value>
                <elementReference>var_CurrentUser_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSP__c</field>
            <value>
                <elementReference>get_FSP_Name.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Female_Employees_Count__c</field>
            <value>
                <elementReference>Female_Employees_Count1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Time_Loan__c</field>
            <value>
                <elementReference>LoanAllFields.First_Time_Loan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBV_Information_Provided__c</field>
            <value>
                <elementReference>LoanAllFields.GBV_Information_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs_Created__c</field>
            <value>
                <elementReference>Jobs_Created1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Description__c</field>
            <value>
                <elementReference>Loan_Description1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Disbursement_Date__c</field>
            <value>
                <elementReference>LoanAllFields.Loan_Disbursement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Principal_Disbursed_FSP_Txt__c</field>
            <value>
                <elementReference>Loan_Principal_Disbursed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Purpose__c</field>
            <value>
                <elementReference>LoanAllFields.Loan_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Schedule__c</field>
            <value>
                <elementReference>Loan_Schedule1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Term_Months__c</field>
            <value>
                <elementReference>Loan_Term_Months1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Title__c</field>
            <value>
                <elementReference>LoanAllFields.Loan_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Type__c</field>
            <value>
                <elementReference>LoanAllFields.Loan_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Business__c</field>
            <value>
                <elementReference>LoanAllFields.Location_of_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Female_Employees_With_Disability__c</field>
            <value>
                <elementReference>No_of_Female_Employees_With_Disability1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Employees__c</field>
            <value>
                <elementReference>Number_of_Employees1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Male_Employees_With_Disability__c</field>
            <value>
                <elementReference>Number_of_Male_Employees_With_Disability1</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateBorrower</name>
        <label>CreateBorrower</label>
        <locationX>578</locationX>
        <locationY>1970</locationY>
        <assignRecordIdToReference>var_CreatedBorrowerID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Created_Borrower_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_FSP_Borrower_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrower_Type__c</field>
            <value>
                <elementReference>Borrower_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_borrower_ID__c</field>
            <value>
                <elementReference>BorrowerAllFileds.Care_borrower_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City_District</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>var_CurrentUser_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependants__c</field>
            <value>
                <elementReference>BorrowerAllFileds.Dependants__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Borrower_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disability__c</field>
            <value>
                <elementReference>Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education__c</field>
            <value>
                <elementReference>BorrowerAllFileds.Education__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSP_Client_ID__c</field>
            <value>
                <elementReference>Store_FSPClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSP_Name__c</field>
            <value>
                <elementReference>var_CurrentUser_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Var_storeFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Var_storeLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province__c</field>
            <value>
                <elementReference>BorrowerAllFileds.Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Name__c</field>
            <value>
                <elementReference>var_storePublishName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Borrower_Record_Type</name>
        <label>Get Borrower Record Type</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FSP_Borrower_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Care_Borrower_ID_or_FSP_Client_ID</name>
        <label>get Care Borrower ID or FSP Client ID</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Borrower_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Borrower_Details</name>
        <label>Get Created Borrower Details</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FSP_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Store_CreatedBorrowerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_current_user_record</name>
        <label>get current user record</label>
        <locationX>1898</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Contact_ID_into_Varriable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invalid_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CurrentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FSP_Borrower_Account</name>
        <label>Get FSP(Borrower) Account</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_FSP_Client_Id_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FSP_Borrower_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FSP_Name1.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FSP_Borrower_Record_Type</name>
        <label>Get FSP(Borrower) Record Type</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FSP_Name1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSP_Borrower</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FSP_Client_IDs</name>
        <label>Get FSP Client IDs</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FSP_Borrower_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSP_Client_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Store_FSPClientID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FSP_Loan_IDs</name>
        <label>get FSP Loan IDs</label>
        <locationX>578</locationX>
        <locationY>2918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_FSP_Loan_Id_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSP_Loan_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Store_FSPLoanID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FSP_Name</name>
        <label>get FSP Name</label>
        <locationX>578</locationX>
        <locationY>2594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Loan_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CurrentUser_ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FSP_Name1</name>
        <label>Get FSP Name 1</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FSP_Client_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CurrentUser_ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Loan_Record</name>
        <label>get Loan Record</label>
        <locationX>710</locationX>
        <locationY>3350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_loan_into_varriable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Store_CreatedLoanID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Record_According_to_Record_ID</name>
        <label>Get Loan Record According to Record ID</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Loan_Proposal_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID_loan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Updated_Loan_Record</name>
        <label>get Updated Loan Record</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Updated_Loan_Data_into_Varriable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID_loan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Existing_Borrower</name>
        <label>Look Up Existing Borrower</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Borrowers_Found_Screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Care_borrower_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_storeBorrowerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSP_Client_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_storeBorrowerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Information</name>
        <label>Update Loan Information</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>File_Upload_Screen1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID_loan</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collateral_Detail__c</field>
            <value>
                <elementReference>Collateral_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collateral__c</field>
            <value>
                <elementReference>Collateral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>Consent_Provided_required1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSP_Loan_ID__c</field>
            <value>
                <elementReference>FSP_Loan_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Female_Employees_Count__c</field>
            <value>
                <elementReference>Female_Employees_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Time_Loan__c</field>
            <value>
                <elementReference>First_Time_Loan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBV_Information_Provided__c</field>
            <value>
                <elementReference>GBV_Information_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs_Created__c</field>
            <value>
                <elementReference>Jobs_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Description__c</field>
            <value>
                <elementReference>Loan_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Disbursement_Date__c</field>
            <value>
                <elementReference>Loan_Disbursement_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Principal_Disbursed_FSP_Txt__c</field>
            <value>
                <elementReference>Loan_Principal_Disbursed1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Purpose__c</field>
            <value>
                <elementReference>Loan_Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Schedule__c</field>
            <value>
                <elementReference>Loan_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Term_Months__c</field>
            <value>
                <elementReference>Loan_Term_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Title__c</field>
            <value>
                <elementReference>Loan_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Type__c</field>
            <value>
                <elementReference>Loan_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Business__c</field>
            <value>
                <elementReference>Location_of_Business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Female_Employees_With_Disability__c</field>
            <value>
                <elementReference>No_of_Female_Employees_With_Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Employees__c</field>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Male_Employees_With_Disability__c</field>
            <value>
                <elementReference>Number_of_Male_Employees_With_Disability</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <screens>
        <name>Borrower_Additional_Information</name>
        <label>Borrower Additional Information</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Publish_Name_into_Varriable</targetReference>
        </connector>
        <fields>
            <name>Borrowers_Additional_Details</name>
            <fieldText>Borrower&apos;s Additional Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Borrowers_Additional_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Published_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Published Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FSP_Client_ID</name>
                    <dataType>String</dataType>
                    <fieldText>FSP Client ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DIsplayError_InFSPClientID</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 30, 30);&quot;&gt;This FSP Client ID already exist.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BooleanVar_DuplicateFSPClientID</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>Gender_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Female</stringValue>
                    </defaultValue>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BorrowerAllFileds.Education__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Borrower_Description</name>
                    <fieldText>Borrower Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Borrowers_Additional_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Borrower_Type</name>
                    <choiceReferences>BorrowerType_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Individual</stringValue>
                    </defaultValue>
                    <fieldText>Borrower Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 38, 38);&quot;&gt;Borrower&apos;s Age should be greater or equal to 18.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Check_BorrowerAge} &gt;= 18</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Disability</name>
                    <choiceReferences>DIsability_PicklistValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>No</stringValue>
                    </defaultValue>
                    <fieldText>Disability</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BorrowerAllFileds.Dependants__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BorrowerAllFileds.Province__c</objectFieldReference>
                </fields>
                <fields>
                    <name>DIsplayCountry</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 40, 40);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(25, 24, 24);&quot;&gt;Country&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DIsplayCountryValue</name>
                    <fieldText>&lt;p&gt;{!var_CurrentUser_Country}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City_District</name>
                    <dataType>String</dataType>
                    <fieldText>City (District)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Borrowers_Found_Screen</name>
        <label>Borrowers Found Screen</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Existing_Borrower_Id</targetReference>
        </connector>
        <fields>
            <name>Show_Found_Borrower_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Borrowers Found</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Look_Up_Existing_Borrower</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Show_Found_Borrower_List.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Care_borrower_ID__c&quot;,&quot;guid&quot;:&quot;column-36be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Care Borrower ID&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Care borrower ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FSP_Client_ID__c&quot;,&quot;guid&quot;:&quot;column-8ecc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;FSP Client ID&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;FSP Client ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-c0a6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;First Name&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-c110&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last Name&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;City__c&quot;,&quot;guid&quot;:&quot;column-6659&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;City (District)&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;City (District)&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Loan_Information</name>
        <label>Capture Loan Information</label>
        <locationX>578</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FSP_Loan_ID_into_Varriable</targetReference>
        </connector>
        <fields>
            <name>Loan_Information</name>
            <fieldText>Loan Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.FSP_Loan_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Duplicate_FSP_LoanID</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 46, 46); font-size: 12px;&quot;&gt;This FSP Loan ID already exist.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BooleanVar_DuplicateFSPLoanID</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Loan_Principal_Disbursed</name>
                    <dataType>String</dataType>
                    <fieldText>Loan Principal Disbursed</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter only Numeric characters without&lt;span style=&quot;color: rgb(218, 49, 49);&quot;&gt; [&lt;/span&gt;&lt;strong style=&quot;color: rgb(218, 49, 49);&quot;&gt;$  .  ,] For Example: 1234567&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 23, 23); background-color: rgb(255, 255, 255);&quot;&gt;Enter only Numeric characters without [$  .  ,] For Example: 1234567&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Formulla_LoanPrincipal_ISNumber}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.Loan_Disbursement_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Loan_Schedule1</name>
                    <choiceReferences>Picklist_LoanSchedule</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Loan Schedule</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Loan_Term_Months1</name>
                    <dataType>Number</dataType>
                    <fieldText>Loan Term (Months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.Loan_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.Loan_Purpose__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Loan_Description1</name>
                    <fieldText>Loan Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.Location_of_Business__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Loan_Impact_Information</name>
            <fieldText>Loan Impact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Impact_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Employees1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Number of Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Jobs_Created1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Jobs Created</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Female_Employees_Count1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Female Employees Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Male_Employees_With_Disability1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Number of Male Employees With Disability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>No_of_Female_Employees_With_Disability1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>No. of Female Employees With Disability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Impact_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.Loan_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.First_Time_Loan__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Collateral1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Collateral</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Does the borrower have a collateral asset?&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.Collateral_Detail__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Consent_Provided_required</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Consent Provided (required)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;The borrower has provided consent for their Name and Photo to appear on the platform. &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 27, 27);&quot;&gt;Please Provide Consent.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Consent_Provided_required}=True</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanAllFields.GBV_Information_Provided__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DIsplay_Loan_Error</name>
        <label>DIsplay Loan Error</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DIsplayLoanErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This Loan cann&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ot be modified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Loan_Information</name>
        <label>Edit Loan Information</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Loan_Information</targetReference>
        </connector>
        <fields>
            <name>Loan_Details</name>
            <fieldText>Loan Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSP_Loan_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.FSP_Loan_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>FSP Loan ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Duplicate_FSP_LoanID1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 46, 46); font-size: 12px;&quot;&gt;This FSP Loan ID already exist.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BooleanVar_EditDuplicateFSPLoanID</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Loan_Principal_Disbursed1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Principal_Disbursed_FSP_Txt__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Principal Disbursed</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter only Numeric characters without&lt;span style=&quot;color: rgb(218, 49, 49);&quot;&gt; [&lt;/span&gt;&lt;strong style=&quot;color: rgb(218, 49, 49);&quot;&gt;$  .  ,] For Example: 1234567&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 23, 23); background-color: rgb(255, 255, 255);&quot;&gt;Enter only Numeric characters without [$  .  ,] For Example: 1234567&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Formulla_EditLoanPrincipal_ISNumber}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Loan_Disbursement_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Disbursement_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Disbursement Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Loan_Schedule</name>
                    <choiceReferences>Picklist_LoanSchedule</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Schedule__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Schedule</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Loan_Term_Months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Term_Months__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Term (Months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Loan_Purpose</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Purpose__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Purpose</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Loan_Description</name>
                    <defaultValue>
                        <stringValue>{!Get_Loan_Record_According_to_Record_ID.Loan_Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Loan Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Location_of_Business</name>
                    <choiceReferences>Picklist_LocationOfBusiness</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Location_of_Business__c</elementReference>
                    </defaultValue>
                    <fieldText>Location of Business</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Loan_Impact_Information</name>
            <fieldText>Loan Impact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Loan_Impact_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Employees</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Number_of_Employees__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Jobs_Created</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Jobs_Created__c</elementReference>
                    </defaultValue>
                    <fieldText>Jobs Created</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Female_Employees_Count</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Female_Employees_Count__c</elementReference>
                    </defaultValue>
                    <fieldText>Female Employees Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Male_Employees_With_Disability</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Number_of_Male_Employees_With_Disability__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Male Employees With Disability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>No_of_Female_Employees_With_Disability</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.No_of_Female_Employees_With_Disability__c</elementReference>
                    </defaultValue>
                    <fieldText>No. of Female Employees With Disability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Loan_Impact_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Type</name>
                    <choiceReferences>Picklist_LoanType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Loan_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>First_Time_Loan</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.First_Time_Loan__c</elementReference>
                    </defaultValue>
                    <fieldText>First Time Loan</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Collateral</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Collateral__c</elementReference>
                    </defaultValue>
                    <fieldText>Collateral</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Does the borrower have a collateral asset?&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Collateral_Detail</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Collateral_Detail__c</elementReference>
                    </defaultValue>
                    <fieldText>Collateral Detail</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Consent_Provided_required1</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.Consent_Provided__c</elementReference>
                    </defaultValue>
                    <fieldText>Consent Provided (required)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;The borrower has provided consent for their Name and Photo to appear on the platform. &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 27, 27);&quot;&gt;Please Provide Consent.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Consent_Provided_required1}=True</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>GBV_Information_Provided</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Loan_Record_According_to_Record_ID.GBV_Information_Provided__c</elementReference>
                    </defaultValue>
                    <fieldText>GBV Information Provided</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 25, 25); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Borrower_Details</name>
        <label>Existing Borrower Details</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Borrower_Details</targetReference>
        </connector>
        <fields>
            <name>Borrower_Information</name>
            <fieldText>Borrower Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Borrower_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Borrower_Creation_Choice</name>
                    <choiceReferences>createnewborrowerchoice</choiceReferences>
                    <choiceReferences>lookupanexistingborrower</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>lookupanexistingborrower</defaultSelectedChoiceReference>
                    <fieldText>Borrower Creation Choice</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Borrower_Creation_Choice1</name>
                    <choiceReferences>CreateNew</choiceReferences>
                    <choiceReferences>Existing</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>CreateNew</defaultSelectedChoiceReference>
                    <fieldText>Borrower Creation Choice</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Borrower_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Care_Borrower_ID_or_FSP_Client_ID.Care_borrower_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Borrower ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Borrower_Creation_Choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>lookupanexistingborrower</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Borrower_Creation_Choice1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Existing</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Borrower_Creation_Choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>createnewborrowerchoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Borrower_Creation_Choice1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CreateNew</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Borrower_Creation_Choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>createnewborrowerchoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Borrower_Creation_Choice1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CreateNew</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen</name>
        <label>File Upload Screen</label>
        <locationX>710</locationX>
        <locationY>3242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Loan_Record</targetReference>
        </connector>
        <fields>
            <name>Notes_Attachments1</name>
            <fieldText>Notes &amp; Attachements</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Notes_Attachments1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fileupload</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_required</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowMultiple</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>requiredMessage</name>
                        <value>
                            <stringValue>Please make sure you upload at least one file.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <elementReference>$Flow.InterviewGuid</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Store_CreatedLoanID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>acceptedFormats</name>
                        <value>
                            <stringValue>.jpg,.png,.jpeg,.jfif</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>visibleToAllUsers</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_visibleToAllUsers</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>embedExternally</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_embedExternally</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_renderFilesBelow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_renderExistingFiles</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpText</name>
                        <value>
                            <stringValue>Please ensure that file uploads are in JPG or JPEG or PNG format. The maximum size should be 4 MB.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>overriddenFileName</name>
                        <value>
                            <elementReference>Store_CreatedLoanID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Var_ContentDocumentIds</assignToReference>
                        <name>contentDocumentIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>UploadedFileNames</assignToReference>
                        <name>uploadedFileNames</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen1</name>
        <label>File Upload Screen</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Updated_Loan_Record</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Notes_Attachments1</name>
            <fieldText>Notes &amp; Attachements</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Notes_Attachments1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Fileupload</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cb_required</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowMultiple</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>requiredMessage</name>
                        <value>
                            <stringValue>Please make sure you upload at least one file.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <elementReference>$Flow.InterviewGuid</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordID_loan</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>acceptedFormats</name>
                        <value>
                            <stringValue>.jpg,.png,.jpeg,.jfif</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>visibleToAllUsers</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_visibleToAllUsers</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>embedExternally</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_embedExternally</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_renderFilesBelow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_renderExistingFiles</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderExistingFiles</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpText</name>
                        <value>
                            <stringValue>Please ensure that file uploads are in JPG or JPEG or PNG format. The maximum size should be 4 MB.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Var_ContentDocumentIds</assignToReference>
                        <name>contentDocumentIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>UploadedFileNames</assignToReference>
                        <name>uploadedFileNames</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Screen</name>
        <label>Invalid Screen</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayInvalidScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 34, 34); font-size: 16px;&quot;&gt;Invalid Session: &lt;/span&gt;&lt;span style=&quot;color: rgb(244, 34, 34); font-size: 14px;&quot;&gt;Your session Id is expired.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message_Screen</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Messagescreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This is only for FSP St&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;aff.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Repayment_Schedule_Screen</name>
        <label>Repayment Schedule Screen</label>
        <locationX>1370</locationX>
        <locationY>3734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Repayment_Schedules</name>
            <fieldText>Repayment Schedules</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Repayment_Schedules_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>passloaninfo</name>
                    <extensionName>c:flowCreateLoan</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>varLoanName</name>
                        <value>
                            <elementReference>varLoanName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Store_CreatedLoanID</name>
                        <value>
                            <elementReference>Store_CreatedLoanID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>LoanPrincipalDisbursed</name>
                        <value>
                            <elementReference>LoanPricipalDisbursed</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countloanterms</name>
                        <value>
                            <elementReference>countloanterms</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>LoanDisbursementDate</name>
                        <value>
                            <elementReference>LoanDisbursementDate</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>LoanSchedule</name>
                        <value>
                            <elementReference>LoanSchedule</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordID</name>
                        <value>
                            <elementReference>recordID_loan</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Priorcountloanterms</name>
                        <value>
                            <elementReference>Priorcountloanterms</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_current_user_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Boolean_fileupload</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BooleanVar_DuplicateFSPClientID</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BooleanVar_DuplicateFSPLoanID</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BooleanVar_EditDuplicateFSPLoanID</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BorrowerAllFileds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Collection_FSPLoanIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countloanterms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoanAllFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanDisbursementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanPricipalDisbursed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Priorcountloanterms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordID_loan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Store_CreatedBorrowerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Store_CreatedLoanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Store_EditedFSPLoanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Store_FSPClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Store_FSPLoanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>store_loanterms_value</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedBorrowerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CurrentUser_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrentUser_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrentUser_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CurrentUser_ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FSPStaffRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FSPUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_storeBorrowerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_storeEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_storeFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_storeLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_storePublishName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
