care-australia-uat/force-app/main/default/flows/LWR_User_registration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_To_home_Page</name>
        <label>Navigate To home Page</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>redirectURL</name>
            <value>
                <stringValue>https://test.lwc.org.au</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToUrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Register_User</name>
        <label>Register User</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>01pBm000001ZY7tNotFound</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_To_home_Page</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Birthday</name>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Password</name>
            <value>
                <elementReference>Password</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Postcode</name>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TermsAndConditionsAccepted</name>
            <value>
                <elementReference>TermsAndConditions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMsg</assignToReference>
            <name>ErrorMsg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasError</assignToReference>
            <name>hasError</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>startUrl</assignToReference>
            <name>returnURL</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>UserEmail_Verification</name>
        <label>UserEmail Verification</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Register_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No user Found</defaultConnectorLabel>
        <rules>
            <name>User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_the_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Exists_Screen</targetReference>
            </connector>
            <label>User Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Choice set for title picklist</description>
        <name>titleChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Age</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY()) - (YEAR({!Birthdate}) - IF( AND(MONTH({!Birthdate}) = 02, DAY({!Birthdate}) = 29, TODAY() &gt; DATE(YEAR(TODAY()), 02, 28)), 
0,IF(TODAY() &gt;= DATE(YEAR(TODAY()), MONTH({!Birthdate}), DAY({!Birthdate})),0,1)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PrivacyPolicyURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.PrivacyPolicyURL}</expression>
    </formulas>
    <formulas>
        <name>TermsAndConditionsURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.TermsAndConditionsURL}</expression>
    </formulas>
    <interviewLabel>LWR: User registration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>LWR: User registration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_for_the_Email</name>
        <label>Check for the Email</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserEmail_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Details_Screen</name>
        <label>User Details Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_the_Email</targetReference>
        </connector>
        <fields>
            <name>User_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title</name>
                    <choiceReferences>titleChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;You should be 18 years or older to get the loan.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( TODAY() - {!Birthdate} &gt;= 18*365, true, false)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile (Please start with +61)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Password</name>
                    <fieldText>Password</fieldText>
                    <fieldType>PasswordField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI Adjusted&amp;quot;, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Liberation Sans&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Minimum 12 characters, at least one uppercase letter, one lowercase letter, one number and one special character&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Password}  ,&apos;^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&amp;])[A-Za-z\\d@$!%*?&amp;]{12,}$&apos; )</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ConfirmPassword</name>
                    <fieldText>Confirm Password</fieldText>
                    <fieldType>PasswordField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 2, 2);&quot;&gt;Your password and confirm password don&apos;t match.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>CONTAINS({!ConfirmPassword},{!Password})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Details_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Details_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TermsAndConditions</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You need to accept the terms and conditions before creating the user.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!TermsAndConditions} == true</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Details_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TermAndConditionsText</name>
                    <fieldText>&lt;p&gt;{!TermsAndConditionsTextTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create User</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Exists_Screen</name>
        <label>User Exists Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>User_Exists_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The user is registered with the email &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Email.value}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Try forgot password, if you have forgotten the password or register with a new user.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TermsAndConditionsTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I have read and agree to the &lt;/span&gt;&lt;a href=&quot;{!TermsAndConditionsURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Terms of Use&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; and &lt;/span&gt;&lt;a href=&quot;{!PrivacyPolicyURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Privacy Policy&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
