care-australia-uat/force-app/main/default/flows/oppLineItem_Flow_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>oppLineItem Flow Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>oppLineItem Flow Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Payment_Record</name>
        <label>get Payment Record</label>
        <locationX>522</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOppid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Line_Item</name>
        <label>Update Opp Line Item</label>
        <locationX>773</locationX>
        <locationY>69</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOppLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>get_Payment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getOppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getOppLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getPayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
