care-australia-uat/force-app/main/default/flows/Payment_Acknowledgement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_Payment_Acknowledgement</name>
        <label>Update Payment Acknowledgement</label>
        <locationX>408</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>Get_Payment.npsp__Payment_Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Printed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Payment.npsp__Payment_Acknowledged_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <description>printed</description>
    <environments>Default</environments>
    <interviewLabel>Payment Acknowledgement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Acknowledgement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>234</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Payment_Acknowledgement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>info.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>npsp__Payment_Acknowledged_Date__c</queriedFields>
        <queriedFields>npsp__Payment_Acknowledgment_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>603</locationX>
        <locationY>270</locationY>
        <inputReference>Get_Payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>9</locationY>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>info</name>
        <apexClass>cadmus_core__AfterActionableFlow_Info</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
