care-australia-uat/force-app/main/default/flows/Synchronize_SMS_check_boxes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_SMS_opt_out_changed</name>
        <label>Is SMS opt out changed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_SMS_opt_out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorvalueofSMSoptout</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.tdc_tsw__SMS_Opt_out__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Do_not_SMS_True</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PriorValueOfDoNotSMS</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!$Record.Do_Not_SMS__c})</expression>
    </formulas>
    <formulas>
        <name>PriorvalueofSMSoptout</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!$Record.tdc_tsw__SMS_Opt_out__c})</expression>
    </formulas>
    <interviewLabel>Synchronize SMS check boxes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Synchronize SMS check boxes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Do_Not_SMS_false</name>
        <label>Update Do Not SMS false</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PriorvalueofSMSoptout</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_SMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Do_not_SMS_True</name>
        <label>Update Do not SMS True</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Do_Not_SMS_false</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PriorvalueofSMSoptout</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_opt_out</name>
        <label>Update SMS opt out</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_SMS_opt_out_false</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_SMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_SMS__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PriorValueOfDoNotSMS</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_opt_out_false</name>
        <label>Update SMS opt out false</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_SMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_SMS__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PriorValueOfDoNotSMS</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_SMS_opt_out_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_SMS__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
