care-australia-uat/force-app/main/default/flows/Update_RG_Opportunities_to_Pledged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Opportunities_to_Update</name>
        <label>Add Opportunities to Update</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OppstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Opportunity_Stages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_Stage_to_Pledged</name>
        <label>Update Opp Stage to Pledged</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Update_Opportunity_Stages.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pledged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunities_to_Update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update RG Opportunities to Pledged {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update RG Opportunities to Pledged</label>
    <loops>
        <name>Update_Opportunity_Stages</name>
        <label>Update Opportunity Stages</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>UpdatedOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opp_Stage_to_Pledged</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Opportunites</name>
        <label>Get All Related Opportunites</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pledged</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>UpdatedOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Records</name>
        <label>Update Opp Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>OppstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Opportunites</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record__Prior.npsp__Status__c}, &apos;Held&apos;) &amp;&amp; ISCHANGED({!$Record.npsp__Status__c}) &amp;&amp; ISPICKVAL({!$Record.npsp__Status__c}, &apos;Active&apos;)</filterFormula>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
