care-australia-uat/force-app/main/default/flows/Update_Caregift_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>check_paypal_or_creditcard</name>
        <label>check paypal or creditcard</label>
        <locationX>647</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkpaypal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Gateway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>paypal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_payment_with_paypal</targetReference>
            </connector>
            <label>checkpaypal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Caregift Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Caregift Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>730</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_paypal_or_creditcard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>871</locationX>
        <locationY>461</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Card_Type__c</field>
            <value>
                <elementReference>$Record.Cardtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Category__c</field>
            <value>
                <stringValue>Shopify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Check_Reference_Number__c</field>
            <value>
                <elementReference>$Record.Shopify_Checkout_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_payment_with_paypal</name>
        <label>update payment with paypal</label>
        <locationX>429</locationX>
        <locationY>442</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Merchant_Category__c</field>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Check_Reference_Number__c</field>
            <value>
                <elementReference>$Record.Shopify_Checkout_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <start>
        <locationX>154</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000000EwEDAA0</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
